<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">

</head>
<body>
{% include 'crmapp/navbar.html' %}

<div class="container">
    <br>
    {% if messages %}
        {% for m in messages %}
        <div class="alert alert-warning  alert-dismissible fade show" role="alert">
            {{m}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
        </div>
        {% endfor %}
    {% endif %}
</div>

{% block main %} {% endblock main %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>